@import '~styles/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url('/assets/wallpaper-glare.jpg');
  background-size: cover;

  .banner {
    background-color: $base-color;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
  }

  .left {
    flex: 1 0 50%;
    text-align: right;
    margin-right: 50px;

    h1 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 68px;
      line-height: 1em;
      font-family: 'Viga', sans-serif;
    }

    .tagline {
      font-weight: 300;
    }

    .logo {
      height: 50px;
    }
  }

  .right {
    flex: 1 0 50%;
    margin-left: 50px;
  }

  .google-oauth {
    color: #555555;
    padding-left: 45px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 8px;
      left: 15px;
      width: 20px;
      height: 20px;
      background: url('/assets/icon-google.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: smaller;
    padding: 20px;
    color: rgba(white, 0.5);
    display: flex;
    justify-content: center;

    .languages {
      margin-right: 10px;
    }

    .copyright {
      height: 18px;
      padding-left: 10px;
      border-left: 1px solid rgba(white, 0.3);
    }

    a {
      color: white;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
