<header>
  <h2>
    {{ 'dashboard.title' | translate }}
    <button type="button" mat-raised-button (click)="addExpense()">{{ 'dashboard.addExpense' | translate }}</button>
  </h2>
</header>

<div class="row">
  <div class="card left">
    <h3>{{ 'dashboard.lastExpenses' | translate }}</h3>
    <transactions-list [editable]="false" [transactions]="expenses$ | async"></transactions-list>
  </div>

  <div class="right">
    <div class="card balance" [class.-creditor]="(user$ | async)?.balance >= 0" [class.-debtor]="(user$ | async)?.balance < 0">
      <span class="description" *ngIf="(user$ | async)?.balance > 0">{{ (partner$ | async)?.firstName }} {{ 'dashboard.owesYou' | translate }}</span>
      <span class="description" *ngIf="(user$ | async)?.balance < 0">{{ 'dashboard.youOwe' | translate }}</span>
      <span class="description" *ngIf="(user$ | async)?.balance === 0">{{ 'dashboard.allSquare' | translate }}</span>

      <h2 class="amount">{{ (user$ | async)?.balance | number: '1.2' }} $</h2>
    </div>

    <div class="card">
      <h3>{{ 'dashboard.lastPayments' | translate }}</h3>
      <transactions-list [editable]="false" [type]="payments" [transactions]="payments$ | async"></transactions-list>
    </div>
  </div>
</div>
