<header>
  <h2>
    Paiements
    <button type="button" mat-raised-button (click)="addPayment()">Ajouter un paiement</button>
  </h2>
</header>

<div class="card"
     infiniteScroll
     [infiniteScrollContainer]="'.main'"
     [fromRoot]="true"
     [infiniteScrollDisabled]="lastPageReached"
     (scrolled)="onScroll()">
  <transactions-list type="payments" [transactions]="payments$ | async" (onRemove)="removePayment($event)"></transactions-list>
</div>

<div class="infinite-scroll-loading" *ngIf="loading">
  <hr><span>Chargement des données...</span>
</div>
