<div class="wrapper">
  <div class="banner mat-elevation-z1">
    <div class="left">
      <h1><img src="../../assets/logo-white-large.png" class="logo"> Oreka</h1>
      <div class="tagline">Gestion de portefeuille</div>
    </div>

    <div class="right">
      <p>Connectez-vous à votre compte<br>pour continuer.</p>
      <button mat-raised-button class="google-oauth">Connexion avec Google</button>
    </div>
  </div>
</div>

<div class="copyright">&copy; <a href="http://www.alexandreclement.com" target="_blank">Alexandre Clément</a></div>
